/*	    __            _
	   / /___  ____ _(_)___   _______________
	  / / __ \/ __ `/ / __ \ / ___/ ___/ ___/
	 / / /_/ / /_/ / / / / // /__(__  |__  )
	/_/\____/\__, /_/_/ /_(_)___/____/____/
			/____/

================================================================================================= */

html,
body{

	background: url('../images/admin/chimpress-background.jpg') center top !important;
	-webkit-background-size: cover !important;
	   -moz-background-size: cover !important;
		 -o-background-size: cover !important;
			background-size: cover !important;
}

.login h1 a{

	background-image: none, url("../images/admin/admin-logo.png") !important;
	background-size: auto auto !important;
	height: 73px !important;
	width: 238px !important;
	margin-bottom: 10px;
}

#backtoblog, #nav { text-align: center; }

#nav a,
#backtoblog a {

	color: white !important;
	text-shadow: 0 0 2px rgba(0,0,0,0.5), 0 0 5px rgba(0,0,0,0.5);
}